*#
*.iml
*.ipr
*.iws
*.jar
.DS_Store
.classpath
.factorypath
.gradle
.project
.settings
.vscode
/code
bin
build
target
!/**/src/**/bin
!/**/src/**/build
build.log
lib/
!/assets/**
samples/data
samples/keys
